.link__card-project {
    padding: .8rem;
    background-color: #da4545;
    border-right:  15px solid rgb(255, 255, 255);
    width: 60%;
    border-radius: 10px;
    margin: 1rem 0;
    color: white;
    transition: all .4s linear;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    svg {
        color: #da4545;
        position: relative;
        animation-name: backAndFoward;
        animation-duration: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction:alternate;
    }
}

.link__url-project {
    background-color: rgb(41, 173, 129);
    svg {
        color: rgb(41, 173, 129);
    }

}

.link__card-project:hover {
    color:black;
    background-color: white;
    svg {
        color: black
    }
}

@keyframes backAndFoward {
    from {
        right: 0;
    }
    to {
        right: 5px;
    }
}