@import '../../styles/variables';

.container__card-project {
    width: 300px;
    margin: 20px 15px;
    background-color: transparent;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    position: relative;
    
    h3 {
        color: $main-color-dark-mode;
        text-align: center;
    }
    .card__content-project {
        height: 300px;
        transition: transform 2s;
        transform-style: preserve-3d;
        position: relative;
        padding: 5em;
        border: 2px solid aquamarine;
        border-radius: 10px;
        background-color: rgb(6, 22, 17);
        perspective:500px
    }
    .card__project-front, .card__project-back {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2em;
        backface-visibility: hidden ;
    }
  
    .card__project-front {
        transform-style: preserve-3d;
        justify-content: center;
        .card__project-title {
           transform: translateZ(60px);
        }
        .card__img-project {
            padding: .8rem;
            display: flex;
            justify-content: center;
            width: 180px;
            transform: translateZ(40px);
            img {
                width: 100%;
            }
        }
    }
    .card__project-back {
      transform: rotateY(.5turn);
      transform-style: preserve-3d;
        .link__card-project {
          transform: translateZ(40px);
      }

    }
    
    .card__project:active {
        box-shadow: 0px 0px 20px 1px $main-color-dark-mode;
    }
    @media (max-width:991.98px) {
        width: 280px;
    }
    @media(max-width: 767.98px) {
        width: 240px;
        margin: 10px 5px;
        .container__img-project {
            width: 130px;
            height: 160px;
        }
    }
    @media (max-width:575.95px) {
        .container__img-project {
            height: 130px;
        }
    }
    
}

.container__card-project:hover {
    .card__content-project {
        transform: rotateY(.5turn)
    }
}