.container__cards-technologies {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    justify-content: center;
}

.section__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px;
    margin-left: 210px;
}

.container__cards-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}
