.container__cards-projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
 
    @media(max-width: 767.98px) {
        max-width: 500px;
    }
    @media (max-width: 575.95px) {
        max-width: 280px;
    }
}
