@import '../../styles/variables';

.container__modal-background {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.679);
    width: 100vw;
    height: 100vh;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    .container__modal {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 200px;
        padding: 40px;
        background-color: black;
        border: 2px solid $main-color-dark-mode;
        button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            font-weight: bold;
            font-size: 20px;
            padding: 5px;
            color: $main-color-dark-mode;
        }
        .title__modal {
            font-size: 25px;
            margin-bottom: 20px;
        }
        h2, p {
            color: $main-color-dark-mode;
            text-align: center;
        }
    
    }
}



.light-theme {
    .container__modal-background {
        .container__modal {
            background-color: $background-color-white-mode;
            border: 5px double $main-color-white-mode;
            button {
                color: $main-color-white-mode;
            }
            .title__modal {
                color:$main-color-white-mode;
            }
            h2, p {
                color: $main-color-white-mode;
            }
        
        }
    }

}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}