
@media (min-width: 767.99px) {
    .container__hamburguer-menu-button {
        display: none;
    }
    .container__steps {
        margin-bottom: 180px;
        margin-top: 30px;
    }
    .step-1, .step-3 {
        right: 49%
    }
    .step-2, .step-4 {
        right: 46%
    }
    .container__info-navbar {
        display: flex;
        .button__dark-mode {
            display: none;
        }
    }
}


@media (min-width: 1400px) {
    .section__details {
        max-width: 2200px;
    }
    .section__main {
        margin-top: 0;
        margin-bottom: 100px;
        min-height: 85vh;
    }
    
    .info__projects {
        padding: 30px;
        margin-top: 0px;
        h2 {
            font-size: calc(3.9rem - 1vw);
        }
        p {
            font-size: calc(2.6rem - 1vw);
        }
    }
    .carta {
        font-size: 90px;
        margin: 0 10px;
    }
    .contenedor_rectangulos {
        margin : 150px 0
    }
    .section__about {
        .sub__section {
            .container__info-aboutme {
                margin: 30px 0;
                .container__aboutme-text {
                    max-width: 600px;
                }
                .container__img-profile {
                    margin-right: 20px;
                }
            }
        }
        h2 {
            font-size: 45px;
        }
   
    }
}

@media(min-width: 1800px) {
    .step-1, .step-3 {
        right: 51%
    }

    .step-2, .step-4 {
        right: 49%
    }


}


@media (max-width: 1399.98px) { 
    .container__steps {
        margin-bottom: 130px;
        margin-top: 30px;
    }
    .info__projects {
        padding: 30px;
        margin-top: 0px;
        h2 {
            font-size: calc(3rem - 1vw);
        }
        p {
            font-size: calc(2.2rem - 1vw);
        }
    }
    .contenedor_rectangulos {
        margin-top: 200px;
        margin-bottom: 20px
    }
    .carta {
        font-size: 90px;
        margin: 0 10px;
    }
    .section__about {
        .sub__section {
            padding: 200px 100px 0 100px;
        
            .container__info-aboutme {
                margin-bottom:  10px;
                .container__img-profile {
                    margin-right: 40px;
                }
                .container__aboutme-text {
                    max-width: 600px;
                }
            }
        }
    }


}

@media (max-width: 1199.98px) {
    .section__main {
        padding: 150px 0;
        min-height: 100vh;
    }
    .container__steps {
        margin-bottom: 130px;
        margin-top: 30px;
    }
    .section__details {
        flex-direction: column;
    }
    .info__projects {
        margin-top: 30px;
        h2 {
            font-size: calc(3rem - 1vw);
        }
        p {
            font-size: calc(2rem - 1vw);
        }
    }
    .section__about {
        .sub__section {
            padding: 200px 100px 0 100px;
            h2 {
                margin-bottom: 50px;
                font-size: 45px;
            }
            .container__info-aboutme {
                flex-direction: column;
                align-items: center;
                margin-bottom:  10px;
                .container__aboutme-text {
                    margin: 50px 0;
                    max-width: 600px;
                }
            }
        }
    }
 }


@media (max-width: 991.98px) { 

    .section__main {
        margin-top: 60px;
        padding-top: 100px;
        padding-bottom: 0;
        min-height: 80vh;
    }
    .contenedor_rectangulos {
        margin-bottom: 20px;
    }
    .carta {
        font-size: 90px;
    }
    .container__cards-projects {
        max-width: 950px;
    }

    .container__cards-technologies  {
        max-width: 700px;
        justify-content: center;
    }
    .card__skill {
        width: calc(100% / 3 - 1.9em);
        margin: 10px 5px;
        h3 {
            font-size: 15px;
        }
    }

    .section__details {
        padding: 200px 100px;
        max-width: 950px;
        .card__project {
            width: 250px;
            h3 {
                font-size: calc(2.5rem - 1vw);
            }
        }
    }
    .info__projects {
        p {
            font-size: calc(1.6rem - 1vw);
        }
    }
    .section__about {
        .sub__section {
            padding: 200px 100px 0 100px;
            h2 {
                margin-bottom: 50px;
                font-size: 45px;
            }
        }
    }
 }

@media (max-width: 767.98px) { 
    .navbar__list {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 40px 70px;
        p {
            font-size: calc(1.2rem - 1vw);
        }
    }
    .container__info-navbar {
        display: flex;
        .button__dark-mode {
            margin-left: 20px;
        }
    }
    .container__actions-navbar {
        display: none;
    }
    .section__main {
        margin-top: 80px;
        padding: 60px 0;
        min-height: 100vh;
    }
    .carta {
        font-size: 60px;
    }
    .container__cards-technologies  {
        width: 350px;
        justify-content: center;
    }

    .card__skill {
        width: calc(100% / 3 - 0.7em);
        margin: 10px 5px;
        h3 {
            font-size: 15px;
        }
    }
    .container__svg-skill {
        display: flex;
        justify-content: center;
        svg {
            width: 70%;
        }
    }
    .section__details {
        flex-direction: column;
        h3 {
            font-size: 30px;
        }
        .card__project {
            margin: 8px;
        }
    }
    .info__projects {
        margin-top: 20px;
        width: 500px;
        padding: 20px;
        p {
            font-size: calc(1.5rem - 1vw);
        }
        h2 {
            display: none;
        }
    }
    .section__about {
        .sub__section {
            .container__info-aboutme {
                .container__aboutme-text {
                    max-width: 450px;
                }
                .container__img-profile {
                    margin: 0;
                }
            }
        }
    }
  
 }


@media (max-width: 575.98px) { 
    .sections {
        h2 {
            font-size: calc(3.2rem - 1vw);
        }
    }
    .section__main {
        min-height: 80vh;
        margin-top: 0;
    }
    .contenedor_rectangulos {
        margin-top: 80px;
    }

    .navbar {
        padding: 40px 30px;
    }
    .carta {
        margin: 0 2px;
        font-size: 45px;
    }
    .card__skill {
        width: calc(100% / 2 - 5em);
        margin: 10px 5px;
    }
    .container__svg-skill {
        svg {
            width: 65%;
        }
    }
    .container__cards-projects{
        width: 300px;
    }

    .card__project {
        width: calc(100% / 1 - 0.5em);
        margin: 20px 0;
        height: 300px;
    }
      
    .container__img-project {
        height: 200px;
        padding: 5px;
        margin: 0;
        img{
            width: 90%;
        }
    }
    .section__details {
        h3 {
            font-size: 20px;
        }
        .card__project {
            margin: 8px
        }
    }
    .info__projects {
        max-width: 320px;
    }
    .section__about {
        .sub__section {
            padding: 200px 50px 0 50px;
            .container__info-aboutme {
                .container__aboutme-text {
                    max-width: 300px;
                }
            }
            .container__form {
                width: 250px;
                .formular__contact {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    textarea {
                        width: 300px;
                    }
                .row {
                    flex-direction: column;
                    align-items: center;
                    .column {
                        input[type="email"] {
                            width: 200px;
                        }
                    }
                    }
                }
            }
        }
       
    }
}

 @media (max-width: 280.98px) {
    .sections {
        h2 {
            font-size: calc(2rem - 1vw);
        }
    }
    .navbar {
        padding: 20px;
    }
    .button__dark-mode {
        display: none;
    }

    .carta {
        margin: 0 2px;
        font-size: 35px;
    }
    .card__skill {
        width: calc(100% / 1.2 - 7em);
        margin: 10px 5px;
    }
    .container__cards-technologies {
        max-width: 250px;
    }
    .container__cards-projects{
        width: 270px;
    }

    .card__project {
        width: calc(100% / 1 - 0.6em);
    }
      
    .section__details {
        .card__project {
            margin: 8px
        }
    }
    .info__projects {
        max-width: 260px;
        p { 
            font-size: 15px;
        }
    }
 }

// Medium devices (tablets, less than 992px)


// Large devices (desktops, less than 1200px)



