// X-Small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .navbar__list {
        display: none;
    }
    .navbar {
        justify-content: space-around;
        padding: 35px 0px;
        p {
            font-size: calc(1.2rem - 1vw);
        }
    }
    .carta-box, .cara {
        width: 45px;
        height: 350px;
    }
    .container__cards-technologies  {
        width: 350px;
        justify-content: center;
    }

    .card__skill {
        width: calc(100% / 3 - 0.7em);
        margin: 10px 5px;
        h3 {
            font-size: 15px;
        }
    }
    .container__svg-technology {
        display: flex;
        justify-content: center;
        svg {
            width: 70%;
        }
    }
    .section__details {
        flex-direction: column;
        h3 {
            font-size: 30px;
        }
        .card__project {
            margin: 8px;
        }
    }
    .info__projects {
        margin-top: 20px;
        width: 500px;
        padding: 20px;
        p {
            font-size: calc(1.5rem - 1vw);
        }
        h2 {
            display: none;
        }
    }
 }


@media (max-width: 575.98px) { 
    .section__main {
        padding: 300px 0;
    }
    .carta-box, .cara {
        width: 35px;
        height: 350px;
    }
    .section_technologys {
        margin-top: 200px;
    }

    .card__skill {
        width: calc(100% / 2 - 5em);
        margin: 10px 5px;
    }
    .container__svg-technology {
        svg {
            width: 65%;
        }
    }
    .container__cards-projects{
        width: 300px;
    }

    .card__project {
        width: calc(100% / 1 - 0.5em);
        margin: 20px 0;
        height: 300px;
    }
      
    .container__img-project {
        height: 200px;
        padding: 5px;
        margin: 0;
        img{
            width: 90%;
        }
    }
    .section__details {
        h3 {
            font-size: 20px;
        }
        .card__project {
            margin: 8px
        }
    }
    .info__projects {
        width: 300px;
    }
 }


 @media (min-width: 767.99px) {
     .container__hamburguer-menu {
         display: none;
     }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .container__cards-projects {
        max-width: 950px;
    }

    .section__details {
        padding: 200px 100px;
        max-width: 950px;
        .card__project {
            width: 250px;
            h3 {
                font-size: calc(2.5rem - 1vw);
            }
        }
    }
    .info__projects {
        h2 {
            font-size: calc(3rem - 1vw);
        }
        p {
            font-size: calc(1.6rem - 1vw);
        }
    }


 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { }
