$main-color-dark-mode: white;
$main-color-white-mode: black;
$background-color-dark-mode: rgb(17, 17, 17);
$background-color-white-mode: white;
$secondary-color: aquamarine;


$font-size-h2: calc(1em + 1vw);