@import "../../styles/variables";

.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px;
  margin-left: 210px;
  .container__info-aboutme {
    display: flex;
    .container__aboutme-text {
      max-width: 800px;
      line-height: 1.7;
      p {
        text-align: justify;
        margin-bottom: 25px;
      }
    }
    .container__img-profile {
      width: 250px;
      height: 360px;
      border: 2px solid $main-color-dark-mode;
      margin-right: 40px;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
      }
    }
  }
}

.light-theme {
  .section__about {
    h2 {
      color: $main-color-white-mode;
    }
    .container__info-aboutme {
      p {
        color: $main-color-white-mode;
      }
      .container__img-profile {
        border: 2px solid $main-color-white-mode;
      }
    }
    .container__form {
      color: $main-color-white-mode;
      .formular__contact {
        button {
          background-color: $background-color-dark-mode;
          color: $main-color-dark-mode;
        }
        button:hover {
          color: $main-color-white-mode;
          background-color: $main-color-dark-mode;
          border: 1px solid $main-color-white-mode;
        }
        button:active {
          background-color: green;
          color: $main-color-dark-mode;
        }
      }
    }
  }
}

@import "../../styles/breakpoints";
