@import "../../styles/variables";

.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  .container__img-map {
    position: absolute;
    img {
      width: 100%;
    }
  }
  .de-map {
    top:-90%;
    right:-30%;
    width: 270px;
  }
  .arg-map {
    width:400px;
    bottom: -40%;
    left:-40%;
    z-index: 0;
  }
  .container__info-aboutme {
    display: flex;
    position: relative;
    svg {
      position: absolute;
      z-index: 1;
      opacity: 0;
      top:-60px;
      transform:rotate(30deg);
      color:rgb(171, 4, 4);
      left:-10%;
      font-size: 30px;
      transition: left 3s linear;
    }
    .container__aboutme-text {
      max-width: 800px;
      line-height: 1.7;
      p {
        text-align: justify;
        margin-bottom: 25px;
      }
    }
    .container__img-profile {
      width: 250px;
      height: 360px;
      border: 2px solid $secondary-color;
      margin-right: 40px;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
      }
    }
  }
  .container__info-aboutme:hover {
    svg {
      left:1000px;
      opacity: 1
    }
  }
  @media (min-width: 1200px) {
    margin-left: 210px;
  }
  @media (max-width:991.98px) {
    .container__img-map  {
      width: 120px; 
      top: 10%;
      right: 0;
      left: 0;
      bottom:0;
    }
    .arg-map {
      left: 0;
      width: 120px;
    }
    .de-map {
      left: 400px;
    }
    .container__info-aboutme {
      flex-direction: column;
      align-items: center;
      .container__aboutme-text {
        max-width: 500px;
        p {
          text-align: justify;
          margin-bottom: 25px;
        }
      }
      .container__img-profile {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  @media(max-width: 767.98px) {
    .container__img-map  {
      width: 70px;  
      top: 100%;
      right: 0;
      left: 0;
      bottom:0;
    }
    .arg-map {
      left: 50px;
    }
    .de-map {
      left: 150px;
    }
    .container__info-aboutme {
      flex-direction: column;
      align-items: center;
      .container__aboutme-text {
        max-width: 500px;
        p {
          text-align: justify;
          margin-bottom: 25px;
        }
      }
      .container__img-profile {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 575.98px) {
    .container__info-aboutme {
      .container__aboutme-text {
        max-width: 280px;
      }
    }
  }
}

