@import '../../styles/variables';

.section__details {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 20px;   
    .info__projects {
        border: 2px solid $secondary-color;
        line-height: 1.4;
        max-width: 900px;
        background-color: rgba(0, 0, 0, 0.705);
        box-shadow:  0px 0px 20px 1px $secondary-color;
        border-radius: 10px;
        z-index: 10;
        padding: 40px;
        p {
            font-size: calc(1.2rem - 1vw);
        }
        h2 {
            color: $main-color-dark-mode;
            margin-bottom: 25px;
            font-size: calc(2rem - 1vw);
        }
        a{
            color: $main-color-dark-mode;
            font-weight: bold;
            font-style:oblique;
            p {
                color:rgb(171, 0, 0)
            }
        }
        svg {
            margin-right: 5px;
        }
    }
    @media (max-width:575.98px) {
        flex-direction: column;
        h3 {
            font-size: calc(1.9rem - 1vw);
        }
        .info__projects {
            max-width: 300px;
            margin-top: 20px;
            padding: 30px;
            p {
                font-size: calc(1.3rem - 1vw);
            }
            h2 {
                display: none;
            }
        }
    }

}


 


.paragraph {
    margin: 25px 0;
    p {
        a {
            color:$secondary-color
        }
    }
}
