@import '../../styles/variables';

.section__details {
    display: flex;
    justify-content: space-evenly;
    padding: 200px;
}

.info__projects {
    border: 2px solid $main-color-dark-mode;
    line-height: 1.4;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.705);
    box-shadow:  0px 0px 20px 1px $main-color-dark-mode;
    border-radius: 10px;
    z-index: 10;
    padding: 40px;
    p {
        font-size: calc(1.2rem - 1vw);
    }
    h2 {
        color: $main-color-dark-mode;
        margin-bottom: 25px;
        font-size: calc(2rem - 1vw);
    }
    a{
        color: $main-color-dark-mode;
        font-weight: bold;
        font-style:oblique;
    }
    svg {
        margin-right: 5px;
    }
 
}

.paragraph {
    margin: 25px 0;
}

.light-theme {
    .info__projects {
        border: 2px solid $main-color-white-mode;
        box-shadow:  0px 0px 20px 1px $main-color-white-mode;
        background-color: rgb(231, 231, 231);
        p {
            color:$main-color-white-mode;
        }
        h2 {
            color: $main-color-white-mode;
        }
        a {
            color: $main-color-white-mode;
        }
     
    }
}


@import '../../styles/breakpoints'