@import "../../styles/variables";

.navbar {
  position: fixed;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 210px;
  background-color: rgb(24, 23, 23);
  border-bottom: 2px solid $main-color-dark-mode;
  box-shadow: 0px 0px 5px 1px aquamarine;
  padding: 30px 0;
  @media (min-width: 1200px) {
    display: flex;
  }
}
.container__info-navbar {
  position: relative;
  top: -29px;
  border-bottom: 1px solid $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 25px 10px;
  background-color: black;
  a {
    p:hover {
      color: aquamarine;
    }
  }
}

.container__sections-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-front-end {
  font-size: 14px;
  color: rgb(200, 200, 200);
}

.container__user-preferences {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  button {
    color: rgb(169, 169, 169);
    background-color: transparent;
    font-size: 15px;
    border-radius: 100%;
    padding: 4px;
    transition: all 0.7s;
  }
  button:hover {
    color: aquamarine;
    font-weight: bold;
  }
}

.button__hamburguer {
  position: fixed;
  top: 30px;
  right: 30px;
  color: aquamarine;
  font-size: calc(2.5rem - 1vw);
  background-color: transparent;
  @media (min-width: 1200px) {
    display: none;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  li {
    color: $main-color-dark-mode;
    transition: all 0.7s;
    margin-bottom: 15px;
    padding: 5px;
    width: 110px;
    border-bottom: 1px solid rgb(203, 203, 203);
  }
  li:hover {
    color: aquamarine;
    letter-spacing: 1px;
    border-bottom: 2px solid aquamarine;
  }
}

.container__social-media {
  ul {
    display: flex;
    li {
      margin: 0 10px;
      color: white;
      transition: all 0.4s linear;
    }
    li:hover {
      color: aquamarine;
    }
  }
}

.container__nav-menu {
  position: fixed;
  display: flex;
  left: -200%;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 27, 27);
  width: 100vw;
  height: 100vh;
  transition: left 0.9s;
  ul {
    width: 90vw;
    height: 90vh;
    border: 2px solid $main-color-dark-mode;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      margin: 20px 0;
      color: $main-color-dark-mode;
      font-size: 25px;
    }
  }
  .close-nav-menu {
    position: absolute;
    top: 80px;
    right: 55px;
    background-color: transparent;
    border: none;
    color: $main-color-dark-mode;
    font-size: 25px;
  }
  .list__navbar-menu {
    .container__user-preferences {
      display: flex;
      .button__language {
        font-weight: bold;
        margin: 0 15px 20px 15px;
      }
    }
  }
}

.desplazar-menu {
  left: 0;
}
