@import "../../styles/variables";

.navbar {
  position: fixed;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 210px;
  background-color: rgb(23, 23, 23);
  box-shadow: 0px 0px 5px 1px aquamarine;
  padding: 30px 0;
  .container__info-navbar {
    position: relative;
    top: -29px;
    border-bottom: 1px solid $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 25px 10px;
    background-color: black;
    a {
      p:hover {
        color: aquamarine;
      }
    }
    .text-front-end {
      font-size: 14px;
      color: rgb(200, 200, 200);
    }
    .container__user-preferences {
      display: flex;
      margin-top: 10px;
    }
  
  }
  .container__social-media {
    ul {
      display: flex;
      li {
        margin: 0 10px;
        color: white;
        transition: all 0.4s linear;
      }
      li:hover {
        color: aquamarine;
      }
    }
  } 
  @media (min-width: 1200px) {
    display: flex;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  li {
    color: $main-color-dark-mode;
    transition: all 0.7s;
    margin-bottom: 15px;
    padding: 5px;
    width: 110px;
    border-bottom: 1px solid rgb(203, 203, 203);
  }
  li:hover {
    color: aquamarine;
    letter-spacing: 1px;
    border-bottom: 2px solid aquamarine;
  }
}

.button__language {
  color: rgb(169, 169, 169);
  background-color: transparent;
  font-size: 15px;
  padding: 4px;
  transition: all 0.7s;
}
.button__language:hover {
  color: aquamarine;
  font-weight: bold;
}

.button__hamburguer {
  position: fixed;
  display: flex;
  align-items: center;
  top: 30px;
  right: 20px;
  color: aquamarine;
  z-index: 990;
  font-size: calc(2.5rem - 1vw);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.411);
  @media (min-width: 1200px) {
    display: none;
  }
}



.container__nav-menu, .desplazar-menu {
  position: fixed;
  padding: 20px;
  left: -200%;
  top: 0;
  background-color: rgb(29, 27, 27);
  width: 100vw;
  min-height: 100vh;
  transition: left 0.9s;
  z-index: 999;
  .container__border {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    border: 2px solid aquamarine;
    min-height: 90vh;
    width: 100%;
    .container__user-preferences {
      margin-bottom: 30px;
    }
    .navbar__list {
      margin-bottom: 50px;
    }
    .close-nav-menu {
      width: 80vw;
      margin-top: 20px;
      margin-bottom: 70px;
      margin-right: 20px;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      border: none;
      color: $main-color-dark-mode;
      font-size: 25px;
    }
  }

  .navbar__list {
    li {
      width: 200px
    }
  }


}


.desplazar-menu {
  left: 0px;
}