.contenedor_rectangulos {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: center;
  margin: 0 10px;
  margin-bottom: 300px;
    .carta {
      position: relative;
      perspective: 500px;
      transform: rotateY(0deg);
      transform-style: preserve-3d;
      transition: all 0.5s linear;
      animation: rotacion 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite alternate;
    } 
    p {
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
  @media (max-width: 575.98px) {
  }
}
  

.light-theme {
  .carta {
    p {
          color: black;
      }
    }
  }


@keyframes rotacion {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(200deg);
    }
}



  @import '../styles/breakpoints';