.contenedor_rectangulos {
    display: flex;
    margin-bottom: 300px;
  }
  
.carta-box {
  width: 100px;
  position: relative;
  perspective: 3000px;
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  animation: rotacion 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite alternate;
}

.cara {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
  p {
      font-size: calc(5em + 1vw);
      font-weight: bold;
      color: rgb(255, 255, 255);
  }
}

.light-theme {
  .cara {
    p {
        color: black;
    }
  }
}

@keyframes rotacion {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(300deg);
    }
}



  @import '../styles/breakpoints';