
.section__details {
    display: flex;
    justify-content: space-evenly;
    padding: 200px;
}

.info__projects {
    border: 2px solid white;
    line-height: 1.4;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.705);
    box-shadow:  0px 0px 20px 1px white;
    border-radius: 10px;
    z-index: 10;
    padding: 40px;
    p {
        font-size: calc(1.2rem - 1vw);
    }
    h2 {
        color: white;
        margin-bottom: 25px;
        font-size: calc(2rem - 1vw);
    }
    a{
        color: white;
        font-weight: bold;
        font-style:oblique;
    }
    svg {
        margin-right: 5px;
    }
 
}

.paragraph {
    margin: 25px 0;
   
}


@import '../styles/breakpoints'