@import '../styles/variables';

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    h2 {
        color:white;
        font-size: calc(3em + 1vw)
    }
    .section__main {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 200px;
    }
    .container__steps {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 50px;
        position: relative;
        top: 300px;
    }
}

.container__step {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 30px;
    opacity: 0;
    animation-name: desvanecer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.step-1 {
    bottom: 100px;
    transform: rotateZ(198deg);
    right: 50%;
    animation-delay: 6.5s;
}

.step-2 {
    bottom: 160px;
    transform:  rotateZ(-198deg);
    animation-delay: 5.8s;
    right: 40%;
}

.step-3 {
    bottom: 205px;
    transform:  rotateZ(198deg);
    right: 50%;
    animation-delay: 5s;
}

.step-4 {
    bottom: 245px;
    transform:  rotateZ(-198deg);
    right:40%;
    animation-delay: 4s;
}



.light-theme {
    .container__step {
        color: black;
    }
    h2 {
        color:$main-color-white-mode;
    }
    
}



@keyframes desvanecer {
    from {
        opacity: 1;
    }

    to {
        opacity:  0;
    }
    
}