@import '../styles/variables';

.navbar {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 10vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid $main-color-dark-mode;
    box-shadow:  0px 0px 20px 1px $main-color-dark-mode;
    padding: 20px;
}

.navbar__list {
    display: flex;
    li {
        margin: 0 10px;
        color: $main-color-dark-mode;
    }
}