@import '../styles/variables';

.container__portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
        color: aquamarine;
    }
    p {
        font-size: calc(1.3rem - 1vw);
    }
    h1 {
        color: white;
    }
    .container__link {
        margin-top: 30px;
    }
    .link__contact {
        background-color: $secondary-color;
        color:$main-color-white-mode;
        padding: 15px;
        border-radius: 10px;
        font-size: 20px;
    }
    @media (min-width: 1200px) { 
        .box {
            position: absolute;
            border: 2px solid aquamarine;
            transform-style: preserve-3d;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        .cuadrado {
            width: 180px;
            height: 180px;
            top:60px;
            right: 110px;
            animation-name: girar ;
            animation-duration: 30s;
        }
        .cuadradito {
            top:90px;
            right: 140px;
            width: 120px;
            height: 120px;
            animation-name: rotarY ;
            animation-duration: 15s;
        }
        .cuadradito2 {
            width: 70px;
            height: 70px;
            top:115px;
            right: 165px;
            animation-name: rotarX ;
            animation-duration: 15s;
        }
     }
     @media (max-width: 991.98px) {
         h1 {
            font-size: calc(3.5rem - 1vw);
         }
         p {
            font-size: calc((1.8rem - 1vw));
         }
     }
     @media(max-width: 767.98px) {
        width: 500px;
        h1 {
            font-size: calc(3rem - 1vw);
        }
    }
     @media(max-width: 575.98px) {
        width: 300px
    }
 

}

@keyframes girar {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotarY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }   
}

@keyframes rotarX {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-360deg);
    }   
}
