.card__project {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: black;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h3 {
        color: white;
        text-align: center;
    }
}

.container__img-project {
    display: flex;
    align-items: center;
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}