@import '../../styles/variables';

.footer {
    position: absolute;
    width: 100%;
    background-color: $background-color-dark-mode;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    box-shadow:  0px 0px 20px 1px $main-color-dark-mode;
    border-top: 2px solid $main-color-dark-mode;
    font-size: 20px;
    p{
        text-align: center;
    }
    ul {
        margin-top: 20px;
        display: flex;
        li {
            margin: 0 10px;
            color: $main-color-dark-mode;
            font-size: 25px;
        }
    }
}

.light-theme {
    .footer {
        background-color: $background-color-white-mode;
        box-shadow:  0px 0px 20px 1px $main-color-white-mode;
        border-top: 2px solid $main-color-white-mode;
        p {
            color:$main-color-white-mode;
        }
        ul {
            li {
                color: $main-color-white-mode;
            }
        }
    }
}

@import '../../styles/breakpoints'