.App {
  min-height: 100vh;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}



ul {
  list-style: none;
}

.title__section {
  text-align: center;
  width: 600px;
  color: white;
  font-size: 70px;
  margin: 60px 0;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

p {
  color: white
}