.App {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,23,22,1) 47%, rgba(38,38,35,1) 76%, rgb(34, 34, 33) 100%);
  width: 100vw;
}



.light-theme {
   .App {
    background: rgb(255, 255, 255);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.title__section {
  text-align: center;
  color: white;
  font-size: 70px;
  margin: 60px 0;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

p {
  color: white
}

.prueba2 {
  margin: 0;
  a {
    margin: 0;
  }
}
