@import '../../styles/variables';


.section_technologys {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 210px;
}

.card__skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    h3 {
        height: 40px;
    }
}

.container__svg-skill {
    width: 150px;
    svg {
        padding: 10px;
        width: 100%;
        fill: $background-color-dark-mode;
    }
}

// .light-theme {
//     .card__skill {
//         background-color: $background-color-dark-mode;
//         h3 {
//             color: $main-color-dark-mode
//         }
//     }
//     .container__svg-skill {
//         svg {
//             fill: $main-color-dark-mode;
//         }
//     }
// }